extends layout


block content

    #idMasherCtrl(ng-controller="MasherCtrl", ng-cloak, class="ng-cloak")
        #idMasterSite(class="masher_defaultprimarycolor masher_textprimarycolor masher_dividercolor",
            ng-cloak, class="ng-cloak")

            #idMasterSiteControlRow(ng-cloak, class="ng-cloak controlrow-padding", style="margin-left: 1rem; margin-right 0.1rem;")

                #idMasterSiteExpander
                    button(type"button", class="btn btn-labeled",
                        ng-click="summaryCollapser()")
                        span(class="btn-label")
                            i(class="fa fa-expand fa-lg", ng-class="{'fa-expand': data.isSummaryCollapsed, \
                            'fa-compress': !data.isSummaryCollapsed}", style="padding-left: 0.5rem; padding-right: 1.0rem;")
                            | {{data.ExpandSumText}} Master Website
                    button(type="button", class="btn", ng-click="home()", style="visibility: {{data.homeVis}}") Home

            #idMasterSiteSummary(ng-cloak, class="ng-cloak mastersite-summary",
                ng-class="{'mastersite-hidden': data.isSummaryCollapsed, 'mastersite-shown': !data.isSummaryCollapsed}")
                .mashbackground
                    #mashbox(class="transbox", style="margin: 0px; padding: 0px; \
                        font-weight: bold; font-size: 150%; font-family:Arial; margin:auto; text-align: center;")
                        div
                            img(src="../stylesheets/images/LogoSnipBlackText.png", style="height: 30px")
                            div(style="visibility : hidden; font-size : 200%") Do not show this
                            div Linking and Synchronizing Multiple Maps, Collaborators, Map Systems

                    div
                        div(ng-controller="TabsCtrl")
                            ul
                                li(ng-repeat="tab in tabs", ng-class="{active:isActiveTab(tab.url)}")
                                    div(ng-click="onClickTab(tab)")
                                        span(class='btn') {{tab.title}}
                                            img(ng-src="{{tab.imgSrc}}", style="margin: 2px 5px 6px 5px")

                #mainView(ng-cloak, class="ng-cloak") {{currentMapSystem.content}}

                    div(ng-cloak, class="ng-cloak", class="tabselectionview")
                        div(id="currentTabSelectedId", style="float: left; font-weight: bold; margin-top: 0.5em; \
                            padding: 2px 5px 6px 5px;") Selected Map Type: {{currentMapSystem.title}}
                        img(src='{{currentMapSystem.imgSrc}}', style='margin: 2px 5px 6px 5px')
                        input(type="button", id="describeTheWebsite", name="describeTheWebsite",
                            ng-click='describeTheWebsiteClicked();', style='margin-left:40px; font-weight: bold;',
                                class='btn', value='Tell  Me About The Website')
                        input(type="button", id="showMeTheMap", name="showMeTheMap", ng-click='showMeTheMapClicked();',
                            style='margin-left:40px; font-weight: bold;', class='btn', value='Show Me The Website')



            div(id="ngview_container",
                style="position:relative;height:100%;width:100%;", ng-cloak, class="ng-cloak")
                ng-view
